 <section class="one">
 	<div class="one-left">
 		<span class="pre-head">newhomes Mortgages</span>
 		<h1>Finding the best mortgage has never been easier</h1>
 		<p>Discover great mortgage deals from more than 90 lenders and get expert advice on the best option for you, then let us take care of your entire application. Best of all, we're FREE!</p>
 		<a routerLink="/select">
 			<p class="btn-box" id="button">I want to apply for a mortgage</p>
 		</a>
 	</div>
 	<div class="one-right">
 		<img src="./assets/images/newhomes-mortgages.png" alt="">
 	</div>
 </section>
 <section class="two">
 	<hr>
 	<h2 class="section-intro">Get pre-qualified in minutes!</h2>
 	<p>Congratulations! You are one step closer to getting finance for your new home. Our pre-qualification system helps fine-tune, and match your application to capable and verified lenders hassle-free, and instantly through our intelligent proprietary
 		algorithm.
 	</p>
 	<div class="benefits">
 		<div class="benefit-one">
 			<img src="./assets/images/icons/newhomes-lowest-rates.png">
 			<h2 class="bene-intro">Lowest rates & minimal <br>closing costs</h2>
 			<p class="desc">Take advantage of some of the lowest rates in the industry.</p>
 		</div>
 		<div class="benefit-two">
 			<img src="./assets/images/icons/newhomes-seamless.png">
 			<h2 class="bene-intro">A truely seamless <br>transaction</h2>
 			<p class="desc">Once pre-qualified, you’ll have a smooth transition to closing on your new home.</p>
 		</div>
 		<div class="benefit-three">
 			<img src="./assets/images/icons/newhomes-expert.png">
 			<h2 class="bene-intro">Your own dedicated <br>expert</h2>
 			<p class="desc">Take advantage of some of the lowest rates in the industry.</p>
 		</div>
 	</div>
 </section>
 <section class="three">
 	<img src="./assets/images/Newhomes-logo-with-lines.png" alt="Newhomes & Lending Partners" class="newhomes-logo">
 	<img src="./assets/images/lenders/Abbey.png" alt="Abbey Mortgage Bank" class="lender-icon med-one">
 	<img src="./assets/images/lenders/Aso.png" alt="Abbey Mortgage Bank" class="lender-icon med-two">
 	<img src="./assets/images/lenders/Brent.png" alt="Abbey Mortgage Bank" class="lender-icon med-three">
 	<img src="./assets/images/lenders/New Prudential.png" alt="Abbey Mortgage Bank" class="lender-icon sm-one">
 	<img src="./assets/images/lenders/Abbey.png" alt="Abbey Mortgage Bank" class="lender-icon sm-two">
 	<img src="./assets/images/lenders/Brent.png" alt="Abbey Mortgage Bank" class="lender-icon sm-three">
 </section>
 <section class="four">
 	<div class="four-left">
 		<h2 class="section-intro">How it works</h2>
 		<p>We have partnered with various governmental, mortgage and financial institutions across Nigeria, to make home loans more affordable, and its acquisition, stress free; With the sole aim of driving growth throughout the real estate sector.</p>
 		<p>To fulfill our promise of making mortgage acquisitions easy and stress free, we have taken out the unnecessary jargons that might get you confused, and broken down the process into three (3) simple steps:</p>
 	</div>
 	<div class="four-right">
 		<img src="./assets/images/icons/newhomes-affordability.png" alt="" class="hiw-img-one">
 		<h2 class="hiw-header-one">Check Affordability</h2>
 		<p class="hiw-text-one">Take our affordability test to know if you are eligible for a mortgage.</p>

 		<img src="./assets/images/icons/newhomes-prequalified.png" alt="" class="hiw-img-two">
 		<h2 class="hiw-header-two">Get <br>Pre-Qualified</h2>
 		<p class="hiw-text-two">Get matched with credible home lenders ready to meet your home finance needs.</p>

 		<img src="./assets/images/icons/newhomes-apply-for-mortgage.png" alt="" class="hiw-img-three">
 		<h2 class="hiw-header-three">Apply <br>for Mortgage</h2>
 		<p class="hiw-text-three">Apply for a mortgage and track your home loan application status online.</p>
 	</div>
 </section>
 <section class="five">
 	<hr>
 	<h2 class="section-intro">Get pre-qualified in minutes!</h2>
 	<a class="open-modal" routerLink="/select" target="_blank">
 		<p class="btn-box">I want to apply for a mortgage</p>
 	</a>
 </section>
