 <section class="nhf-content">
	 	<div class="nhf-left animated">

	 	</div>

	 	<div class="nhf-right animated">
	 		<div class="nhf-sub-content">
	 			<span class="pre-head">newhomes NHF Loans</span>
	 			<h1 class="sec-heading">Home ownership <br>fast track</h1>
	 			<p class="sub-head"> Newhomes' NHF application ensures you meet all the requirements necessary to access NHF Loans, and ultimately fast tracks your journey to home ownership. So get excited, you are <em><strong>three (3)</strong></em> simple steps away
	 				from your dream of owning a home! Get started below.
	 			</p>
	 		</div>
	 		<div class="nhf-sub-content steps">
	 			<a routerLink="/eligibility" >
	 				<div class="check-steps ">
	 					<input id="box1" type="checkbox" class="steps" />
	 					<label for="box1">Eligibility Test</label>
	 				</div>
	 			</a>
	 			<a routerLink="/affordability" id="affordability" >
	 				<div class="check-steps">
	 					<input id="box2" type="checkbox" class="steps" />
	 					<label for="box2">Affordability Test</label>
	 				</div>
	 			</a>
	 			<a routerLink="/nhfapplication" >
	 				<div class="check-steps">
	 					<input id="box3" type="checkbox" class="steps" />
	 					<label for="box3">Apply for NHF Loan</label>
	 				</div>
	 			</a>
	 		</div>
	 		<div class="nhf-sub-content foot">
	 			<span class="foot-link">Continue Application</span>
	 			<span class="foot-link">Manage Application</span>
	 			<span class="foot-link">Terms & Conditions</span>
	 		</div>
	 	</div>

	 </section>
