<header class="main-header">
  <a routerLink='/'>
    	<img class="logo"
		src="https://newhomes.ng/static/media/logo.550e9c42.png">
  </a>


	<nav>
		<input type="checkbox"
			id="nav"
			class="hidden" />
		<label for="nav"
			class="nav-open"><i></i><i></i><i></i></label>
		<div class="nav-container">
			<ul>
				<li><a routerLink="/homeloan" routerLinkActive="active">Get a Home Loan</a></li>
				<li><a routerLink="/nhf" routerLinkActive="active">NHF Application</a></li>
				<li><a href="#">FAQs</a></li>
				<li><a href="#">Blog</a></li>
				<li class="login"><a href="#">Customer Login</a></li>
			</ul>
		</div>
	</nav>
</header>
