/*/////////////////
////Page styles////
/////////////////*/

html {
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  animation: fadeIn;
  -webkit-animation: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 1s;
}

@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

p,
li {
  font-family: "Roboto", sans-serif;
}

.transition-fade {
  transition: 0s;
  opacity: 1;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  -o-transition: 0s;
}

html.is-animating .transition-fade {
  opacity: 1;
}


/*/////////////////////////////
//////Header & Nav Styles/////////
/////////////////////////////*/

header {
  border-bottom: 1px solid #fafafa;
  padding: 10px 50px;
}

.logo {
  height: 50px;
  display: inline-block;
}

nav {
  padding: 5px;
  display: inline-block;
  float: right;
  position: relative;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
  /* float: left; */
}

nav ul li:not(:first-child) {
  margin-left: 25px;
}

nav ul li a {
  display: inline-block;
  outline: none;
  color: #1f2227;
  font-size: 1rem;
  text-decoration: none;
  letter-spacing: 0.04em;
}

nav ul li a:hover {
  color: #808080;
  text-decoration: none;
}

@media screen and (max-width: 820px) {
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #1f2227;
    opacity: 0;
    transition: all 0.2s ease;
  }

  .nav-container ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  .nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }

  .nav-container ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }

  .nav-container ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }

  .nav-container ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }

  .nav-container ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }

  .nav-container ul li:not(:first-child) {
    margin-left: 0;
  }

  .nav-container ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    transform: translateY(-20px);
    transition: all 0.2s ease;
  }

  .nav-open {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }

  .nav-open i {
    display: block;
    width: 20px;
    height: 2px;
    background: #1f2227;
    border-radius: 2px;
    margin-left: 14px;
  }

  .nav-open i:nth-child(1) {
    margin-top: 16px;
  }

  .nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .nav-open i:nth-child(3) {
    margin-top: 4px;
  }
}

#nav:checked+.nav-open {
  transform: rotate(45deg);
}

#nav:checked+.nav-open i {
  background: #fff;
  transition: transform 0.2s ease;
}

#nav:checked+.nav-open i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked+.nav-open i:nth-child(2) {
  opacity: 0;
}

#nav:checked+.nav-open i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked~.nav-container {
  z-index: 9990;
  opacity: 1;
}

#nav:checked~.nav-container ul li a {
  opacity: 1;
  transform: translateY(0);
}

.hidden {
  display: none;
}


/* Nav End*/

.login {
  background: linear-gradient(246deg, #2f53aa, rgba(18, 129, 239, 1.00));
  /* box-shadow: 0px 4px 19px 0px rgba(189, 137, 137, 0.09); */
  box-sizing: border-box;
  padding: 10px 20px;
}

.login a {
  color: #fff;
}


/*/////////////////////////////
//////Section 1 Styles/////////
/////////////////////////////*/

section.one {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  /* max-height: 727px; */
  width: 100vw;
  align-items: center;
  margin-top: 40px;
}

.one-left {
  width: 75%;
  align-self: center;
  justify-self: center;
}

.one-left h1 {
  -webkit-text-fill-color: #555555;
  font-family: "-apple-system", "system-ui", "Lato", serif;
  font-size: 52px;
  font-weight: 900;
  letter-spacing: 0px;
  line-height: 1.2;
  margin: 10px 0 30px 0;
}

.one-left p {
  /* -webkit-text-fill-color: #555555; */
  font-family: "-apple-system", "system-ui", "Lato", serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.5;
}

.pre-head {
  font-family: "Roboto", sans-serif;
}

.one-right {
  /* grid-area: one-right; */
  align-self: end;
}

.one-right img {
  max-height: 708px;
  float: right;
}

.btn-box {
  background: linear-gradient(246deg, #2f53aa, rgba(18, 129, 239, 1.00));
  box-shadow: 0px 9px 23px 0px rgba(0, 0, 0, 0.16);
  /* overflow: visible; */
  color: #fff;
  padding: 20px 30px;
  margin: 50px 0;
  text-align: center;
  font-size: 16px !important;
  width: 90%;
  cursor: pointer;
}

.one-left a {
  text-decoration: none;
}


/*/////////////////////////////
//////Section 2 Styles/////////
/////////////////////////////*/

section.two {
  text-align: center;
  margin: 8% 0;
}

hr {
  width: 20%;
  border: 1px solid #dddddd;
  margin: 0 auto 60px auto;
}

.section-intro {
  -webkit-text-fill-color: #333333;
  font-family: "-apple-system", "system-ui", "Lato", serif;
  font-size: 38px;
  font-weight: 900;
  letter-spacing: 0px;
  line-height: 1.5;
}

section.two p {
  -webkit-text-fill-color: #333333;
  font-family: "HelveticaNeue", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.5;
  text-align: center;
  width: 60%;
  margin: 35px auto;
}

section.two .benefits {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 10px;
  justify-content: center;
  padding: 0 10px;
  margin: 60px auto;
  width: 85%;
}

section.two .benefits .benefit-one img,
section.two .benefits .benefit-two img,
section.two .benefits .benefit-three img {
  height: 77px;
  margin: 20px;
}

section.two .benefits .benefit-one .bene-intro,
section.two .benefits .benefit-two .bene-intro,
section.two .benefits .benefit-three .bene-intro {
  -webkit-text-fill-color: #555555;
  font-family: "-apple-system", "system-ui", "Lato", serif;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 0px;
  line-height: 1.2;
  text-align: center;
}

section.two .benefits .benefit-one .desc,
section.two .benefits .benefit-two .desc,
section.two .benefits .benefit-three .desc {
  -webkit-text-fill-color: #333333;
  font-family: "HelveticaNeue", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.5;
  text-align: center;
  width: 60%;
  margin: 20px auto;
}


/*/////////////////////////////
//////Section 3 Styles/////////
/////////////////////////////*/

section.three {
  background: linear-gradient(246deg, #2f53aa, rgba(18, 129, 239, 1.00));
  overflow: visible;
  height: 550px;
  margin: 40px 0;
  display: grid;
  grid-template-columns: minmax(300px, 1fr);
  align-items: center;
  padding-top: 120px;
}

section.three .newhomes-logo {
  margin: auto;
  height: 350px;
}

section.three .lender-icon,
section.three .lender-icon,
section.three .lender-icon {
  position: relative;
}

section.three .lender-icon.med-one {
  height: 150px;
  left: 29%;
  bottom: 90%;
}

section.three .lender-icon.med-two {
  height: 150px;
  left: 45%;
  bottom: 90%;
}

section.three .lender-icon.med-three {
  height: 150px;
  left: 60%;
  bottom: 285%;
}

section.three .lender-icon.sm-one {
  height: 90px;
  left: 51.5%;
  bottom: 600%;
}

section.three .lender-icon.sm-two {
  height: 90px;
  left: 40%;
  bottom: 650%;
}

section.three .lender-icon.sm-three {
  height: 90px;
  left: 55%;
  bottom: 660%;
}


/*/////////////////////////////
//////Section 4 Styles/////////
/////////////////////////////*/

section.four {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-column-gap: 10px;
  width: 100vw;
  align-items: center;
  margin: 8% 0;
}

.four-left {
  width: 70%;
  align-self: center;
  justify-self: center;
  margin: 60px auto;
}

.four-left .section-intro {
  margin: 40px 0;
}

.four-left p {
  -webkit-text-fill-color: #555555;
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 20px 0;
  /* letter-spacing: NaNpx; */
  line-height: 1.5;
}

.four-right {
  display: grid;
  grid-template: repeat(6, 1fr) / 146px 1fr;
  grid-row-gap: 10px;
  align-content: center;
  margin: 40px auto;
  padding-left: 40px;
}

.four-right .hiw-img-one {
  height: 146px;
  grid-area: 1 / 1 / span 2 / span 1;
}

.four-right .hiw-header-one {
  grid-area: 1 / 2 / span 1 / span 1;
  -webkit-text-fill-color: #555555;
  font-family: "-apple-system", "system-ui", "Lato", serif;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 0px;
  line-height: 1.2;
  text-align: left;
  align-self: end;
  width: 45%;
}

.four-right .hiw-text-one {
  grid-area: 2 / 2 / span 1 / span 1;
  -webkit-text-fill-color: #555555;
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: NaNpx;
  line-height: 1.5;
  width: 55%;
}

.four-right .hiw-img-two {
  height: 146px;
  grid-area: 3 / 1 / span 2 / span 1;
}

.four-right .hiw-header-two {
  grid-area: 3 / 2 / span 1 / span 1;
  -webkit-text-fill-color: #555555;
  font-family: "-apple-system", "system-ui", "Lato", serif;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 0px;
  line-height: 1.2;
  text-align: left;
  align-self: end;
  width: 45%;
}

.four-right .hiw-text-two {
  grid-area: 4 / 2 / span 1 / span 1;
  -webkit-text-fill-color: #555555;
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: NaNpx;
  line-height: 1.5;
  width: 55%;
}

.four-right .hiw-img-three {
  height: 146px;
  grid-area: 5 / 1 / span 2 / span 1;
}

.four-right .hiw-header-three {
  grid-area: 5 / 2 / span 1 / span 1;
  -webkit-text-fill-color: #555555;
  font-family: "-apple-system", "system-ui", "Lato", serif;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 0px;
  line-height: 1.2;
  text-align: left;
  align-self: end;
  width: 45%;
}

.four-right .hiw-text-three {
  grid-area: 6 / 2 / span 1 / span 1;
  -webkit-text-fill-color: #555555;
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: NaNpx;
  line-height: 1.5;
  width: 55%;
}


/*/////////////////////////////
//////Section 5 Styles/////////
/////////////////////////////*/

section.five {
  text-align: center;
  margin: 10% 0;
}

section.five .btn-box {
  text-align: center;
  margin: 30px auto;
  width: 486px;
}


/*/////////////////////////////
////////Footer Styles//////////
/////////////////////////////*/

footer {
  border-top: 1px solid #fafafa;
  padding: 20px 50px;
}
