/*/////////////////
////Page styles////
/////////////////*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  animation-name: fadeIn;
  animation-delay: 1s;
  animation-duration: 1s;
  -webkit-animation-name: fadeIn;
  -webkit-animation-delay: 1s,
}


/*/////////////////
////Page Font styles////
/////////////////*/

html {
  font-size: 14px;
}

@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

p,
li {
  font-family: "Roboto", sans-serif;
}

.sec-heading {
  font-size: 3rem;
  color: #353535;
  line-height: 1;
  /* margin: 20px 0; */
}

.pre-head {
  font-size: 1.2rem;
  color: #3d3d3d;
  line-height: 1.5;
  font-family: lato;
}

.sub-head {
  margin-top: 25px;
  margin-bottom: 40px;
  font-size: .95rem;
  color: #636363;
  line-height: 1.5;
  width: 90%;
  word-spacing: 1.5px;
}


/*/////////////////////////////
//////Header & Nav Styles/////////
/////////////////////////////*/

header {
  border-bottom: 1px solid #fafafa;
  padding: 10px 50px;
}

.logo {
  height: 50px;
  display: inline-block;
}

nav {
  padding: 5px;
  /* display: inline-block; */
  float: right;
  position: relative;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
  /* float: left; */
}

nav ul li:not(:first-child) {
  margin-left: 25px;
}

nav ul li a {
  display: inline-block;
  outline: none;
  color: #bfbfbf;
  font-size: 1rem;
  text-decoration: none;
  letter-spacing: 0.04em;
}

nav ul li a:hover {
  /* color: #808080; */
  color: #1f2227;
  text-decoration: none;
}

nav ul li a.active {
  /* color: #808080; */
  color: #1f2227;
  text-decoration: none;
}

@media screen and (max-width: 820px) {
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #1f2227;
    opacity: 0;
    transition: all 0.2s ease;
  }

  .nav-container ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  .nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }

  .nav-container ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }

  .nav-container ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }

  .nav-container ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }

  .nav-container ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }

  .nav-container ul li:not(:first-child) {
    margin-left: 0;
  }

  .nav-container ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    transform: translateY(-20px);
    transition: all 0.2s ease;
  }

  .nav-open {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }

  .nav-open i {
    display: block;
    width: 20px;
    height: 2px;
    background: #1f2227;
    border-radius: 2px;
    margin-left: 14px;
  }

  .nav-open i:nth-child(1) {
    margin-top: 16px;
  }

  .nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .nav-open i:nth-child(3) {
    margin-top: 4px;
  }
}

#nav:checked+.nav-open {
  transform: rotate(45deg);
}

#nav:checked+.nav-open i {
  background: #fff;
  transition: transform 0.2s ease;
}

#nav:checked+.nav-open i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked+.nav-open i:nth-child(2) {
  opacity: 0;
}

#nav:checked+.nav-open i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked~.nav-container {
  z-index: 9990;
  opacity: 1;
}

#nav:checked~.nav-container ul li a {
  opacity: 1;
  transform: translateY(0);
}

.hidden {
  display: none;
}


/* Nav End*/

.login {
  background: linear-gradient(246deg, #2f53aa, rgba(18, 129, 239, 1.00));
  /* box-shadow: 0px 4px 19px 0px rgba(189, 137, 137, 0.09); */
  box-sizing: border-box;
  padding: 10px 20px;
}

.login a {
  color: #fff;
}


/*/////////////////////////////
////////nhf Page Styles//////////
/////////////////////////////*/

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 75px 1fr;
  overflow: hidden;
  align-items: center;
  /* grid-gap: 10px; */
}

.nhf-content {
  grid-area: auto;
  display: grid;
  grid-template-columns: minmax(1px, 1fr) minmax(400px, 3fr);
  height: 100%;
  width: 100vw;
  align-items: center;
}

.small-left {
  /* background-color: #3d3d3d; */
  grid-column: 1 / span 1;
  height: 100%;
  background-image: url('../../../assets/images/nhf-bg-img.jpg');
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.right-large {
  width: 100%;
  justify-self: center;
  align-self: center;
  overflow: hidden;
}


/*/////////////////////////////////////
////////Form Styles////////////////////
/////////////////////////////////////*/


/* Eligibility Form */

.nhf-forms-wrapper {
  padding: 50px;
}

.nhf-questionaire .indicator h2 {
  margin-top: 10px;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.nhf-questionaire .indicator .progress {
  height: 5px !important;
  margin-top: 18px;
  width: 100%;
  margin-right: 20px;
}

.nhf-questionaire .indicator .progress-bar {
  width: 20%;
  height: 10px !important;
  background-color: #5cb85c;
}


/* Style the form */

#eligibilityForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 80%;
  min-width: 300px;
}

.questions,
.q-marker {
  font-size: 32px;
  margin: 20px 0;
}

.questions {
  color: #333333;
}

.q-marker {
  display: inline-block;
  color: #949494;
}

.test-name {
  font-size: 1rem;
  display: inline-block;
  margin-left: 20px;
  font-family: "Lato", sans-serif;
  font-style: italic;
  color: #636363;
}


/* Style the input fields */

input[type=number],
input[type=text],
input[type=email] {
  display: inline-grid;
  padding: 1em;
  margin: 0.5em;
  cursor: pointer;
  color: #333333;
  border: 1px solid #2ecc71;
  border-radius: 0.25em;
  background-color: #fff;
  transition: 0.3s;
  height: 100px;
  align-content: center;
  outline: none;
  font-size: 35px;
}


/* Mark input boxes that gets an error on validation: */

input.invalid {
  background-color: #ffdddd;
}


/* Hide all steps by default: */

.tab {
  display: none;
}


/*////////////////////////////
//////Checkbox styles///////
////////////////////////////*/

.answer-box {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 30px;
  align-content: center;
  justify-content: center;
  margin: 30px 0;
  /* height: 250px; */
}

.answer-label {
  display: inline-grid;
  padding: 1em 2em;
  margin: 0.5em;
  cursor: pointer;
  color: #333333;
  border: 1px solid #2ecc71;
  border-radius: 0.25em;
  background-color: #fff;
  transition: 0.3s;
  /* user-select: none; */
  height: 100px;
  align-content: center;
}

.answer-label h1 {
  font-size: 1.3rem;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-weight: 600;
  margin-top: auto;
}

.answer-label:hover {
  background-color: #f7f7f7;
  color: #101010;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border: none;
}

.answer-label:active {
  transform: translateY(2px);
}

.selected-button:checked+.answer-label {
  background: #2ecc71;
  color: #ffffff
}

.selected-button:checked+.answer-label:hover {
  background: #29b765;
  color: #ffffff;
}

@media screen and (max-width: 500px) {
  .container {
    overflow: scroll;
  }

  .nhf-content {
    display: block;
  }

  .small-left {
    display: none;
  }
}


/* Button styles */

#eligibilityForm button {
  padding: 10px 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  margin-top: 20px
}

#eligibilityForm button:hover {
  font-weight: bold;
}

#nextBtn {
  float: right;
}


/* Progress Circles */

.progress-box {
  text-align: center;
  top: 25px;
  display: inline;
  float: right;
  position: relative;
}


/* Steps circle style*/

.step {
  height: 2px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  /* border-radius: 50%; */
  display: inline-block;
  opacity: 0.5;
}


/* Mark the active step: */

.step.active {
  opacity: 1;
}


/* Mark the steps that are finished and valid: */

.step.finish {
  background-color: #4CAF50;
}

.invalid{
  color:red;
  font-size : 10px;
  text-align: center
}