<div id="loader" *ngIf="isloading"></div>
<section class="nhf-content">
  <div class="small-left"></div>
  <div class="right-large">
    <div class="progress">
      <div class="input-bar"></div>
      <div class="progress-bar" id="progressBar"></div>
    </div>
    <form [formGroup]="form" id="eligibilityForm" *ngIf="!isSubmitted" (ngSubmit)="submitEligibilityForm()" >
      <!-- Circles which indicates the steps of the form: -->
      <div class="progress-box">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
      </div>
      <!-- One "tab" for each step in the form: -->
      <div class="tab">
        <h1 class="q-marker">Q1</h1>
        <span class="test-name">Eligibility Test</span>
        
        <h1 class="questions">
          Are you a registered NHF contributor, with a valid registration
          number?
        </h1>
         <div  *ngIf="!isvalid" class="invalid_wrapper" >
          <span class="invalid">select an option</span>
        </div>
        
        <div class="answer-box">
          <input
          formControlName="is_nhf_contributor"
            class="hidden selected-button"
            id="yes-contributor"
            type="radio"
             value="yes"
            name="is_nhf_contributor"
          />
          <label class="answer-label" for="yes-contributor">
            <h1>I am registered and have a valid registartion number.</h1>
          </label>
          <input
           formControlName="is_nhf_contributor"
           value="no"
            class="hidden selected-button"
            id="no-contributor"
            type="radio"
            name="is_nhf_contributor"
          />
          <label class="answer-label" for="no-contributor">
            <h1>What is that about?</h1>
          </label>
        </div>
      </div>

      <div class="tab">
        <h1 class="q-marker">Q2</h1>
        <span class="test-name">Eligibility Test</span>
        <h1 class="questions">
          Have you contributed to the NHF for the past six (6) months?
        </h1>
         <div  *ngIf="!isvalid" class="invalid_wrapper" >
          <span class="invalid">select an option</span>
        </div>
        <div class="answer-box">
          <input
          formControlName="six_month_contribution"
            class="hidden selected-button"
            id="yes-six-months"
            type="radio"
            value="yes"
            name="six_month_contribution"
          />
          <label class="answer-label" for="yes-six-months">
            <h1>Yes, I have.</h1>
          </label>
          <input
          formControlName="six_month_contribution"
            class="hidden selected-button"
            id="no-six-months"
            type="radio"
            value="no"
            name="six_month_contribution"
          />
          <label class="answer-label" for="no-six-months">
            <h1>No, I haven't.</h1>
          </label>
        </div>
      </div>

      <div class="tab">
        <h1 class="q-marker">Q3</h1>
        <span class="test-name">Eligibility Test</span>
        <h1 class="questions">Have you found a home to buy?</h1>
         <div  *ngIf="!isvalid" class="invalid_wrapper" >
          <span class="invalid">select an option</span>
        </div>
        <div class="answer-box">
          <input
           formControlName="found_property"
           value="yes"
            class="hidden selected-button"
            id="found-home"
            type="radio"
            name="found_property"
          />
          <label class="answer-label" for="found-home">
            <h1>Yes, I have found a home.</h1>
          </label>
          <input
          formControlName="found_property"
           value="no"
            class="hidden selected-button"
            id="no-home-found"
            type="radio"
            name="found_property"
          />
          <label class="answer-label" for="no-home-found">
            <h1>No, I'm still looking around.</h1>
          </label>
        </div>
      </div>

      <div class="tab">
        <h1 class="q-marker">Q4</h1>
        <span class="test-name">Eligibility Test</span>
        <h1 class="questions">What year were you born?</h1>
        <div  *ngIf="!isvalid" class="invalid_wrapper" >
          <span class="invalid">Year of birth is required</span>
        </div>
        <p>
          <input
          formControlName="yob"
          name="yob"
            placeholder="18**"
            oninput="this.className = ''"
            type="number"
          />
        </p>
      </div>
       <div class="tab">
        <h1 class="q-marker">Q5</h1>
        <span class="test-name">Eligibility Test</span>
        <h1 class="questions">To keep track of this test, Enter your Full Name and Email below</h1>
          <div  *ngIf="!isvalid" class="invalid_wrapper" >
          <span class="invalid">full name and email are required</span>
        </div>
        <!-- <div class="answer-box"> -->
           <p>
          <input
           formControlName="name"
          placeholder="full name"
           oninput="this.className = ''"
            type="text"
            name="name"
          />
         
          
        </p>
        <p>
           <input
            formControlName="email"
          placeholder="email"
            type="email"
            name="email"
          />
        </p>
        <!-- </div> -->
       
      </div>

      <div style="overflow:auto;">
        <div >
          <button
            [style.display]="showElement ? 'inline' : 'none'"
            type="button"
            id="prevBtn"
            (click)="prevStep(1)"
          >
            Previous
          </button>
          <button type="button" id="nextBtn" (click)="nextStep(1)">
            {{ btnText }}
          </button>
        </div>
      </div>
    </form>
    <div *ngIf="isSubmitted">
      <img src="../../../assets/images/ajax-loader.gif" alt="" style="width:40px; height: 50px;">
    </div>
  </div>
</section>
