<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center"> -->

<!-- <angular4-paystack
    [key]="'pk_test_7aa760c6ae5f76868829a793083992c766ebad98'"
    [email]="'mailexample@mail.com'"
    [amount]="5000000"
    [ref]="'26374675499'"
    [channels]="['bank']"
    [class]="'btn btn-primary'"
    (close)="paymentCancel()"
    (callback)="paymentDone($event)"
  >Pay with Paystack</angular4-paystack>
  <button
    angular4-paystack
    [key]="'pk_test_7aa760c6ae5f76868829a793083992c766ebad98'"
    [email]="'mailexample@mail.com'"
    [amount]="5000000"
    [ref]="'263745456664'"
    [class]="'btn btn-primary'"
    (close)="paymentCancel()"
    (callback)="paymentDone($event)"
  >Pay with 2</button>
</div> -->
<app-top></app-top>
<router-outlet></router-outlet>
<app-footer></app-footer>
