<div class="container">
 	<section class="select-content">
 		<div class="select-left animated">
 			<a routerLink="/homeloan"  class="select-sub-content">
 				<div>
 					<div class="mortgage-img-left animated"></div>
 					<h2>I want to apply for a home loan</h2>
 				</div>
 			</a>
 		</div>

 		<div class="select-right animated">
 			<a routerLink="/nhf" class="select-sub-content">
 				<div>
 					<div class="mortgage-img-right animated"></div>
 					<h2>I want to apply for NHF loan</h2>
 				</div>
 			</a>
 		</div>

	 </section>
</div>
