@import url("https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
@import "./app/assets/css/main.css";
@import "./app/assets/css/select.css";
@import "./app/assets/css/nhf.css";
/* You can add global styles to this file, and also import other style files */
